<section>
    <h1>Publications</h1>
    <br/>
    <a href="{{ root_url }}/resources/JTJ-2011-05.pdf"><img class="left" src="{{ root_url }}/images/JTJ-2011-05.png" alt="Read my JDK7 article" width="125" height="150"></a>
    <p>
        My article on JDK7 in <a href="http://jaxenter.com/java-tech-journal">JavaTech Journal</a> (May 2011)
    </p>
    <br/>
    <br/>
    <br/>
    <br/>

    <br/>
    <a href="{{ root_url }}/resources/concurrency-control-1.0-draft.pdf"><img class="left" src="{{ root_url }}/images/concurrency-control-1.0-draft.png" alt="Read my JDK7 article" width="125" height="150"></a>
    <p>
        My draft paper discussing <a href="{{ root_url }}/resources/concurrency-control-1.0-draft.pdf">Optimistic and Pessimistic Concurrency Control with Shared Memory Models</a>.
    </p>

    <br/>
</section>
