<section>
  <h1>Categories</h1>
  <p align="justify">     
      <a href="blog/categories/agile/">agile</a>
      <a href="blog/categories/coaching/">coaching</a>
      <a href="blog/categories/concurrency/">concurrency</a>
      <a href="blog/categories/java/">java</a>
      <a href="blog/categories/mocking/">mocking</a>
      <a href="blog/categories/object-oriented/">object-oriented</a>
      <a href="blog/categories/performance/">performance</a>
      <a href="blog/categories/tempus-fugit/">tempus-fugit</a>
      <a href="blog/categories/testing/">testing</a>
  </p>
</section>
