<section>
  <h1>Categories</h1>
  <p>
      &#8226;
      <a href="blog/categories/agile/">agile</a> &#8226; 
      <a href="blog/categories/coaching/">coaching</a> &#8226; 
      <a href="blog/categories/concurrency/">concurrency</a> &#8226; 
      <a href="blog/categories/java/">java</a> &#8226; 
      <a href="blog/categories/mocking/">mocking</a> &#8226; 
      <a href="blog/categories/object-oriented/">object-oriented</a> &#8226; 
      <a href="blog/categories/performance/">performance</a> &#8226; 
      <a href="blog/categories/tempus-fugit/">tempus-fugit</a> &#8226; 
      <a href="blog/categories/testing/">testing</a> &#8226; 
  </p>
</section>
