---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import SiteLayout from '../../components/ui/SiteLayout.astro';
import PreviewVideo from '../../components/ui/PreviewVideo.astro';

const videos = (await getCollection('video')) as CollectionEntry<'video'>[];
videos.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<SiteLayout title="Videos - bad.robot" description="Videos and talks by Toby Weston">
  <section>
    <h1 class="text-3xl font-bold mb-4">Videos</h1>
  </section>

  <section class="mt-10 space-y-8">
    {videos.map((video: CollectionEntry<'video'>) => (
      <PreviewVideo video={video} />
    ))}
  </section>
</SiteLayout>
