---
import { Image } from 'astro:assets';
import robotCane from '../../content/images/waving_with_cane_104x166.png';
---

<article class="card hover:shadow-medium">
  <div class="flex w-full min-h-[498px] h-full">
    <div class="ml-auto flex h-full w-full items-end justify-end">
      <Image src={robotCane} alt="Waving robot with cane" width={104} height={166} />
    </div>
  </div>
</article>
