---
import {getCollection} from 'astro:content';
import Main from "../../layouts/Main.astro";

const books = (await getCollection('book')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)
---

<Main>
    <section>
        <ul>
            {
                books.map((book) => (
                        <li>
                            <!-- how to I embed the full page/content here? -->
                            <!--await book.render();-->
                            <div class="book">
                                <a href={`/book/${book.slug}/`}>
                                    <h4 class="title">{book.data.title}</h4>
                                </a>
                                {book.data} <!-- this is a promise, how do I wait? -->
                            </div>
                        </li>
                ))
            }
        </ul>
    </section>
</Main>