---
layout: page
title: Page Not Found
footer: false
---
<script type="text/javascript" src="javascripts/libs/jquery-1.7.1.min.js"/>
<script type="text/javascript">
    // Revert jQuery's '$' alias, to avoid clashes with ender.js.
    // NOTE: Use jQuery(...), instead of $(...) from here on.
    jQuery.noConflict();
</script>
<script type="text/javascript">
    jQuery.extend({
        getUrlVars: function(url){
            var vars = [], hash;
            var hashes = url.slice(url.indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++)
            {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        },
        getUrlVar: function(url, name){
            return jQuery.getUrlVars(url)[name];
        }
    });

    jQuery.getJSON('http://baddotrobot.com/javascripts/url_migrations.json', function (data) {
        var found = false;
        jQuery.each(data['redirects'], function (idx, url) {
            if (url[0] == jQuery.getUrlVar(window.location.pathname, 'source')) {
                window.location.replace(url[1]);  // redirect
                found = true;
                return false;
            }
        });
    });

</script>

<p>
    Sorry, looks like these weren't the droids you were looking for after all.
</p>
<p>
    On the plus side though, here's a list of recently published posts.
</p>
<div id="blog-archives" class="missing">
    {% for post in site.posts limit: 6 %}
    <article>
        {% include archive_post.html %}
    </article>
    {% endfor %}
</div>
