<section>
    <h1>Amazon</h1>
    <br/>

    <script charset="utf-8" type="text/javascript"
            src="http://ws.amazon.co.uk/widgets/q?rt=tf_sw&ServiceVersion=20070822&MarketPlace=GB&ID=V20070822/GB/baddotrobotco-21/8002/0e3c1aa2-0214-4e8a-afd1-0b379b22b43d"></script>
    <noscript><a
            href="http://ws.amazon.co.uk/widgets/q?rt=tf_sw&ServiceVersion=20070822&MarketPlace=GB&ID=V20070822%2FGB%2Fbaddotrobotco-21%2F8002%2F0e3c1aa2-0214-4e8a-afd1-0b379b22b43d&Operation=NoScript">Amazon.co.uk
        Widgets</A></noscript>

    <br/>


</section>
