// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@import "_typography.scss";

$pad-header-min: 60px !default;
$pad-header-narrow: 60px !default;
$pad-header-medium: 75px !default;
$pad-header-wide: 75px !default;

time {
    font-size: .9em;
}

h1 {
    font-size: 2.2em;
}

section > h1 {
    font-size: 1.5em;
}

body > header h1 {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    text-shadow: 2px 2px 2px #000000;
    @media only screen and (min-width: 0px) {
        padding-left: $pad-header-min;
        padding-right: $pad-header-min;
    }
    @media only screen and (min-width: 480px) {
        padding-left: $pad-header-narrow;
        padding-right: $pad-header-narrow;
    }
    @media only screen and (min-width: 768px) {
        padding-left: $pad-header-medium;
        padding-right: $pad-header-medium;
    }
    @media only screen and (min-width: 992px) {
        padding-left: $pad-header-wide;
        padding-right: $pad-header-wide;
    }
}

body > header h2 {
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 2px #000000;
    @media only screen and (min-width: 0px) {
        padding-left: $pad-header-min;
        padding-right: $pad-header-min;
    }
    @media only screen and (min-width: 480px) {
        padding-left: $pad-header-narrow;
        padding-right: $pad-header-narrow;
    }
    @media only screen and (min-width: 768px) {
        padding-left: $pad-header-medium;
        padding-right: $pad-header-medium;
    }
    @media only screen and (min-width: 992px) {
        padding-left: $pad-header-wide;
        padding-right: $pad-header-wide;
    }
}

body > header h1:after {
      content:"";
      position:absolute;
      top:0.3em;
      bottom:0em;
      height:132px;
      width:105px;
      overflow:hidden;
      text-align:left;
      background-image:url('../images/robot-logo_105x132.png');
      background-repeat:no-repeat;

      @media only screen and (min-width: 0px) {
           left: 0.200em;
           background-size: 60% 60%;
      }
      @media only screen and (min-width: 480px) {
           left: 0.300em;
           background-size: 60% 60%;
      }
      @media only screen and (min-width: 768px) {
           left: 0.350em;
           background-size: 70% 70%;
      }
      @media only screen and (min-width: 992px) {
           left: 0.475em;
           background-size: 80% 80%;
      }
}

aside.sidebar:after {
  position:absolute;
  right:-17.0em;
  bottom:0.5em;
  height:166px;
  width:104px;
  background-image:url('../images/waving_with_cane_104x166.png');
  background-repeat:no-repeat;
}

html {
    background: #252525 url('/images/line-tile.png?1328359347') top left
}

html .gist .gist-file .gist-meta {
    background: #fef9ed url('/images/noise.png?1328359347') top left;
}

body > div {
    background: #edeff4 url('/images/noise.png?1328359347') top left;
}

body > div > div {
    background: #f8f8f8 url('/images/noise.png?1328359347') top left;
}

body > nav {
    background: url('/images/noise.png?1328359347'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dcead6), color-stop(50%, #c5dcbb), color-stop(100%, #a5c896));
    background: url('/images/noise.png?1328359347'), -webkit-linear-gradient(#dcead6, #c5dcbb, #a5c896);
    background: url('/images/noise.png?1328359347'), -moz-linear-gradient(#dcead6, #c5dcbb, #a5c896);
    background: url('/images/noise.png?1328359347'), -o-linear-gradient(#dcead6, #c5dcbb, #a5c896);
    background: url('/images/noise.png?1328359347'), -ms-linear-gradient(#dcead6, #c5dcbb, #a5c896);
    background: url('/images/noise.png?1328359347'), linear-gradient(#dcead6, #c5dcbb, #a5c896);
}

.no-placeholder body > nav .search {
    background: #f0f6ed url('/images/search.png?1328359347') 0.3em 0.25em no-repeat;
}

.maskImage a[rel=subscribe-rss], .maskImage a[rel=subscribe-rss]:after {
    -moz-mask-image: url('/images/rss.png?1328359347');
    -webkit-mask-image: url('/images/rss.png?1328359347');
    -o-mask-image: url('/images/rss.png?1328359347');
    -ms-mask-image: url('/images/rss.png?1328359347');
    -khtml-mask-image: url('/images/rss.png?1328359347');
    mask-image: url('/images/rss.png?1328359347');
}

.highlight .line-numbers, html .gist .gist-file .gist-syntax .gist-highlight .line-numbers {
    background: #fdf8e8 url('/images/noise.png?1328359347') top left !important;
}

pre {
    background: #fdf6e3 url('/images/noise.png?1328359347') top left;
}

.pre-code, html .gist .gist-file .gist-syntax .gist-highlight pre, .highlight code {
    background: #fdf6e3 url('/images/noise.png?1328359347') top left !important;
}

.code-title, html .gist .gist-file .gist-meta a[href*='#file'], h3.filename, figure.code figcaption {
    background: #aaa url('/images/code_bg.png?1328359347') top repeat-x;
}

@media only screen and (min-width: 768px) {

   .toggle-sidebar:after {
       background: #f8f8f8 url('/images/noise.png?1328359347') top left;
   }
}

body > footer {
    background: url('/images/noise.png?1328359347'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dcead6), color-stop(50%, #c5dcbb), color-stop(100%, #a5c896));
    background: url('/images/noise.png?1328359347'), -webkit-linear-gradient(#dcead6, #c5dcbb, #a5c896);
    background: url('/images/noise.png?1328359347'), -moz-linear-gradient(#dcead6, #c5dcbb, #a5c896);
    background: url('/images/noise.png?1328359347'), -o-linear-gradient(#dcead6, #c5dcbb, #a5c896);
    background: url('/images/noise.png?1328359347'), -ms-linear-gradient(#dcead6, #c5dcbb, #a5c896);
    background: url('/images/noise.png?1328359347'), linear-gradient(#dcead6, #c5dcbb, #a5c896);
}

@import "_wikipedia.scss";


/* FancyBox Galleries */
$rad: 3px;
ul.gallery {
  //border: thin solid gray;
  //-webkit-border-radius: $rad;
  //-moz-border-radius: $rad;
  //border-radius: $rad;
  text-align: center;
  padding: 5px;
  li {
    display: inline;
    padding: 2px;
  }
}


/* Bootstrap rip off */
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}

.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}


.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}

.btn-success.active {
  background-color: #408140 \9;
}